<div class="auth-container">
  <h2>Create an account</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input id="firstName" type="text" formControlName="firstName" />
      <div class="error" *ngIf="registerForm.get('firstName')?.touched && registerForm.get('firstName')?.invalid">
        First Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input id="lastName" type="text" formControlName="lastName" />
      <div class="error" *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.invalid">
        Last name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" />
      <div class="error" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
        Enter a valid mail.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
      <div class="error" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
        Password must be at least 4 characters long.
      </div>
    </div>

    <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>

    <button type="submit" [disabled]="isLoading">
      {{ isLoading ? 'Signing up...' : 'Sign up' }}
    </button>
  </form>

  <p>Already have an account? <a routerLink="/login">Sign in</a></p>
</div>